.drawer
{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    width: 615px;
}

.title
{
    font-size: 30px;
}

.drawer__wrapper
{
    border: 1px solid #000;
    padding: 15px;
}

.drawer__wrapper-first-item
{
    display: flex;
    margin-bottom: 20px;
}

.image
{
    border: 1px solid #989797;
    padding: 5px;
}

.drawer__harmonics
{
    border: 1px solid #000;
    padding: 15px;
    margin-right: 30px;
}

.drawer__harmonics-title
{
    font-size: 20px;
}

.harmonics
{
    margin-bottom: 20px;
    height: 84px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #000;
}

.harmonics__item
{
    display: block;
    padding: 5px;
    transition: all ease 0.3s;
    text-decoration: none;
    color: black;
}

.harmonics__item:hover,
.harmonics__item:visited,
.harmonics__item.active
{
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    background-color: #e7e1e1;
    cursor: pointer;
}

.button
{
    border-radius: 4px;
    background-color: #c7c7c7;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 7px 20px;
    box-sizing: border-box;
}

.button.active
{
    background-color: #fff;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 4px 4px 0 0;
    cursor: not-allowed;
}

.drawer__values
{
    border: 1px solid #000;
    padding: 15px;
}

.values__item
{
    margin-bottom: 15px;
}

label
{
    font-size: 16px;
}

.drawer__wrapper-second-item-buttons
{
    display: block;
    margin-bottom: 10px;
}

.table
{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.table__row
{
    display: flex;
    flex-direction: row;
}

.table__row_main
{
    border-bottom: 1px solid #000;
}

.table__item
{
    font-size: 16px;
    width: 50%;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

.table__item:first-child
{
    border-right: 1px solid #000;
}